body {
    min-height: 100%;
    height: 100%;
}
/* .clearfix::after {
    content: '';
    display: block;
    clear: both;
} */
.wrapper {
    width: 600px;
    margin: 0 auto;
}

.header {
    width: 600px;
    height: 150px;
    background-color: #FFFF00;
}
.boxA-1 {
    width: 200px;
    height: 150px;
    background-color: #33FFFF;
}
.boxA-2 {
    width: 200px;
    height: 150px;
    background-color: #FF0000;
}
.boxA-3 {
    width: 200px;
    height: 150px;
    background-color: #0000FF;
}
.boxA {
    display: flex;
}

.boxB-1 {
    width: 500px;
    height: 150px;
    background-color: #00FF00;
}
.boxB-2 {
    width: 100px;
    height: 150px;
    background-color: #FF00FF;
}
.boxB {
    display: flex;
}
.footer {
    width: 600px;
    height: 150px;
    background-color: #33FFFF;
}