body {
    min-height: 100%;
    height: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
}
.header {
    height: 100px;
    background-color: #141f40;
    position: relative;
}
.header-inner {
    height: 60px;
    width: 160px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    bottom: 20px;
    
}
.inner-box {
    height: 40px;
    width: 40px;
    background-color: #a9004b; 
    /* box-sizing: border-box; */
    float: left;
    margin: 10px 0 0 10px;

}
/* ここからcontents */
.left {
    float: left;
    height: 250px;
    width: 150px; 
    background-color: #80bfa8;
}
.right {
    float: right;
    height: 250px;
    width: 250px;
    background-color: #8c2727;
    /* position: relative; */
}
.box2 {
    height: 50px;
    width: 150px;
    background-color: #ff863f;
    border: 5px solid #fff;
    box-sizing: border-box; 
    margin: 0 60px 10px 40px;
    /* position: absolute; */
}
/* .box2:first-child {
    margin-top: 40px;
} */
/* .box2:last-child {
    margin-bottom: 100px;
} */

.footer {
    height: 100px;
    background-color: #d98d30;
}
*{
    margin: 0;
    padding: 0;
}
