@media screen and (max-width: 767px) {

    .wrapper {
        width: 300px;
    } 
    .left {
        width: 100px; 
    }
    .top {
        width: 125px;
    }
    .center {
        width: 125px;
    }
    .down {
        width: 200px;
    }
    .right {
        width: 75px;
    }   
}

@media screen and (max-width: 479px) {

    .wrapper {
        width: 150px;
    }
    .left {
        float: none;
        width: 150px;
        height: 100px;
    }
    .float {
        float: none;
        width: 150px;
    }
     .right {
        float: none;
        width: 150px;
        height: 100px;
    }
    .top {
        width: 150px;
    }
    .center {
        width: 150px;
    }
    .down {
        width: 150px;
    }  
}